<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.maintain.dao.ApprovalTableConfigMapper">
	<resultMap id="BaseResultMap"
		type="cmcc.mobile.maintain.entity.ApprovalTableConfig">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="VARCHAR" />
		<result column="default_approval_user_ids" property="defaultApprovalUserIds"
			jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="approval_type_id" property="approvalTypeId"
			jdbcType="VARCHAR" />
		<result column="last_user_id" property="lastUserId" jdbcType="VARCHAR" />
		<result column="last_deal_way" property="lastDealWay" jdbcType="VARCHAR" />
		<result column="user_id" property="userId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, date, default_approval_user_ids, status,
		approval_type_id,
		last_user_id, last_deal_way,
		user_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from approval_table_config
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		approval_table_config
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="cmcc.mobile.maintain.entity.ApprovalTableConfig">
		insert into
		approval_table_config (id, date,
		default_approval_user_ids,
		status,
		approval_type_id, last_user_id,
		last_deal_way, user_id)
		values
		(#{id,jdbcType=VARCHAR}, #{date,jdbcType=VARCHAR},
		#{defaultApprovalUserIds,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}, #{approvalTypeId,jdbcType=VARCHAR},
		#{lastUserId,jdbcType=VARCHAR},
		#{lastDealWay,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cmcc.mobile.maintain.entity.ApprovalTableConfig">
		insert into approval_table_config
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="date != null">
				date,
			</if>
			<if test="defaultApprovalUserIds != null">
				default_approval_user_ids,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="approvalTypeId != null">
				approval_type_id,
			</if>
			<if test="lastUserId != null">
				last_user_id,
			</if>
			<if test="lastDealWay != null">
				last_deal_way,
			</if>
			<if test="userId != null">
				user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="date != null">
				#{date,jdbcType=VARCHAR},
			</if>
			<if test="defaultApprovalUserIds != null">
				#{defaultApprovalUserIds,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="approvalTypeId != null">
				#{approvalTypeId,jdbcType=VARCHAR},
			</if>
			<if test="lastUserId != null">
				#{lastUserId,jdbcType=VARCHAR},
			</if>
			<if test="lastDealWay != null">
				#{lastDealWay,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.maintain.entity.ApprovalTableConfig">
		update approval_table_config
		<set>
			<if test="date != null">
				date = #{date,jdbcType=VARCHAR},
			</if>
			<if test="defaultApprovalUserIds != null">
				default_approval_user_ids =
				#{defaultApprovalUserIds,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="approvalTypeId != null">
				approval_type_id = #{approvalTypeId,jdbcType=VARCHAR},
			</if>
			<if test="lastUserId != null">
				last_user_id = #{lastUserId,jdbcType=VARCHAR},
			</if>
			<if test="lastDealWay != null">
				last_deal_way = #{lastDealWay,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="cmcc.mobile.maintain.entity.ApprovalTableConfig">
		update
		approval_table_config
		set date = #{date,jdbcType=VARCHAR},
		default_approval_user_ids =
		#{defaultApprovalUserIds,jdbcType=VARCHAR},
		status =
		#{status,jdbcType=VARCHAR},
		approval_type_id =
		#{approvalTypeId,jdbcType=VARCHAR},
		last_user_id =
		#{lastUserId,jdbcType=VARCHAR},
		last_deal_way =
		#{lastDealWay,jdbcType=VARCHAR},
		user_id = #{userId,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<select id="copy" parameterType="java.lang.String" resultMap="BaseResultMap">
		select concat(#{companyId},'_',id) as id, date,
		default_approval_user_ids,
		status,
		concat(#{company},'_',approval_type_id) as approval_type_id,
		last_user_id,
		last_deal_way,
		user_id
		from approval_table_config
	</select>

	<insert id="insertBatch" parameterType="java.util.List">
		insert into approval_table_config (id, date,
		default_approval_user_ids,
		status,
		approval_type_id,
		last_user_id,
		last_deal_way,
		user_id)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.date} ,#{item.defaultApprovalUserIds},
			#{item.status}, #{item.approvalTypeId},
			#{item.lastUserId},
			#{item.lastDealWay},
			#{item.userId}
			)
		</foreach>
	</insert>
</mapper>