<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.maintain.dao.RepeatUserMapper" >
  <resultMap id="BaseResultMap" type="cmcc.mobile.maintain.entity.RepeatUser" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="encode" property="encode" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="cmcc.mobile.maintain.entity.RepeatUser" >
    insert into repeat_user (user_id, mobile, 
      org_id, encode, creat_time
      )
    values (#{userId,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=VARCHAR}, #{encode,jdbcType=VARCHAR}, #{creatTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cmcc.mobile.maintain.entity.RepeatUser" >
    insert into repeat_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
      <if test="encode != null" >
        encode,
      </if>
      <if test="creatTime != null" >
        creat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=VARCHAR},
      </if>
      <if test="encode != null" >
        #{encode,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null" >
        #{creatTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 记录重复记录 -->
    <insert id="insertByList" parameterType="java.util.List">
  	insert into repeat_user(user_id,encode,mobile,creat_time,org_id) 
  	values
  	<foreach collection="list" item="item" index="index" separator=",">
		(#{item.memid},#{item.corpid},#{item.telnum},#{item.creattime},#{item.deptid})
	</foreach>
  </insert>
</mapper>