<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.maintain.dao.TotalUserMapper" >
  <resultMap id="BaseResultMap" type="cmcc.mobile.maintain.entity.TotalUser" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="v_id" property="vId" jdbcType="VARCHAR" />
    <result column="database_name" property="databaseName" jdbcType="VARCHAR" />
    <result column="is_manager" property="isManager" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="company_id" property="companyId" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, v_id, database_name, is_manager, mobile, name, pid, type, company_id, createtime, 
    password, status, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from total_user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from total_user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cmcc.mobile.maintain.entity.TotalUser" >
    insert into total_user (id, v_id, database_name, 
      is_manager, mobile, name, 
      pid, type, company_id, 
      createtime, password, status, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{vId,jdbcType=VARCHAR}, #{databaseName,jdbcType=VARCHAR}, 
      #{isManager,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{pid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cmcc.mobile.maintain.entity.TotalUser" >
    insert into total_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vId != null" >
        v_id,
      </if>
      <if test="databaseName != null" >
        database_name,
      </if>
      <if test="isManager != null" >
        is_manager,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="vId != null" >
        #{vId,jdbcType=VARCHAR},
      </if>
      <if test="databaseName != null" >
        #{databaseName,jdbcType=VARCHAR},
      </if>
      <if test="isManager != null" >
        #{isManager,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        MD5(#{password,jdbcType=VARCHAR}),
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.maintain.entity.TotalUser" >
    update total_user
    <set >
      <if test="vId != null" >
        v_id = #{vId,jdbcType=VARCHAR},
      </if>
      <if test="databaseName != null" >
        database_name = #{databaseName,jdbcType=VARCHAR},
      </if>
      <if test="isManager != null" >
        is_manager = #{isManager,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cmcc.mobile.maintain.entity.TotalUser" >
    update total_user
    set v_id = #{vId,jdbcType=VARCHAR},
      database_name = #{databaseName,jdbcType=VARCHAR},
      is_manager = #{isManager,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 批量插入totalUser -->
  <insert id="batchinsertTotalUser" parameterType="java.util.List">
  	insert into total_user(id,v_id,database_name,mobile,name,createtime,create_time,status,type,company_id,password) 
  	values
  	<foreach collection="list" item="item" index="index" separator=",">
		(#{item.id},#{item.vId},#{item.databaseName},#{item.mobile},#{item.name},#{item.createtime},#{item.createTime},#{item.status},#{item.type},#{item.companyId},MD5(#{item.password}))
	</foreach>
  </insert>
  
  <update id="updateByCompanyId" parameterType="java.lang.String">
  	update total_user set status = '9' where company_id=#{companyId}
  </update>
  
    <!-- 同步更新用户信息 -->
  <update id="updateByPrimaryKeySelectives" parameterType="cmcc.mobile.maintain.entity.TotalUser">
		update total_user
		<set>
			<if test="vId != null">
				v_id = #{vId,jdbcType=VARCHAR},
			</if>
			<if test="databaseName != null">
				database_name = #{databaseName,jdbcType=VARCHAR},
			</if>
			<if test="isManager != null">
				is_manager = #{isManager,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="companyId != null">
				company_id = #{companyId,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=VARCHAR},
			</if>
		</set>
		where v_id = #{vId,jdbcType=VARCHAR}
	</update>
	<select id="selectByUser" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from total_user where company_id = #{corpId}
  </select>
  
  	<select id="selectByTotalUser" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select * from total_user where v_id = #{corpId} and create_time >= to_date(#{createtime,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
  </select>
  <!-- 查询公司员工人数 -->
  <select id="selectByCompanyCount" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(1) from total_user where company_id = #{id}
  </select>
  <!-- 查询公司员工登入数 -->
   <select id="selectByLoginCount" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(1) from user_mobile_login_log where company_id = #{id}
  	 <if test="startDate !=null and startDate !='' ">
  	<![CDATA[ AND str_to_date(login_time,'%Y-%m-%d ') >= #{startDate,jdbcType=VARCHAR}]]>
  	</if>
  	<if test="endDate !=null and endDate !='' ">
  	  	<![CDATA[ AND str_to_date(login_time,'%Y-%m-%d ') <= #{endDate,jdbcType=VARCHAR}]]> 
  	</if>
  	and user_id is not null
  </select>
  <!-- 查询发起工单数 -->
   <select id="selectByStartCount" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(1) from third_approval_start where company_id = #{id}
  	 <if test="startDate !=null and startDate !='' ">
  	 <![CDATA[ AND str_to_date(start_date,'%Y-%m-%d ') >= #{startDate,jdbcType=VARCHAR}]]>
  	</if>
  	<if test="endDate !=null and endDate !='' ">
  	<![CDATA[ AND str_to_date(start_date,'%Y-%m-%d ') <= #{endDate,jdbcType=VARCHAR}]]>
  	</if>
  </select>
  <!-- 查询处理工单数 -->
     <select id="selectByDealCount" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(1) from third_approval_deal where company_id = #{id}
  	<if test="startDate !=null and startDate !='' ">
  	<![CDATA[ AND str_to_date(arrive_date,'%Y-%m-%d ') >= #{startDate,jdbcType=VARCHAR}]]>
  	</if>
  	<if test="endDate !=null and endDate !='' ">
  	<![CDATA[ AND str_to_date(arrive_date,'%Y-%m-%d ') <= #{endDate,jdbcType=VARCHAR}]]>
  	</if>
  </select>
  
  <!-- 按手机，姓名查询人员是否存在 -->
    <select id="selectByMobile" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from total_user where mobile = #{mobile,jdbcType=VARCHAR}
    <if test="name !=null and name !='' ">
    and name = #{name,jdbcType=VARCHAR} 
    </if>
    <if test="companyId !=null and companyId !=''">
    and company_id = #{companyId,jdbcType=VARCHAR}
    </if>
    and status!=9
    group by mobile 
  </select>
  
  <!-- 批量更新 -->
  <update id="batchupdateTotalUser" parameterType="java.util.List"> 
  <foreach collection="list" item="item" index="index" open=""
			close="" separator=";">
			update total_user
			<set>
				<if test="item.vId != null">
					v_id=#{item.vId},
				</if>
				<if test="item.databaseName != null">
					database_name=#{item.databaseName},
				</if>
				<if test="item.mobile != null">
					mobile=#{item.mobile},
				</if>
				<if test="item.name != null">
					name=#{item.name},
				</if>
				<if test="item.createtime != null">
					createtime=#{item.createtime},
				</if>
					<if test="item.status != null">
					status=#{item.status},
				</if>
				<if test="item.type != null">
					type=#{item.type},
				</if>
				<if test="item.companyId != null">
					company_id=#{item.companyId},
				</if>
				<if test="item.password != null">
					password=MD5(#{item.password}),
				</if>
			</set>
			where mobile=#{item.mobile} and name=#{item.name}
		</foreach> 
  </update>
</mapper>