<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cmcc.mobile.maintain.dao.VwtGroupMapper" >
  <resultMap id="BaseResultMap" type="cmcc.mobile.maintain.entity.VwtGroup" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_mobile" property="customerMobile" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="v_id" property="vId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_mobile, customer_name, area_id,v_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vwt_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from vwt_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cmcc.mobile.maintain.entity.VwtGroup" >
    insert into vwt_group (id, customer_mobile, customer_name, 
      area_id)
    values (#{id,jdbcType=INTEGER}, #{customerMobile,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{areaId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cmcc.mobile.maintain.entity.VwtGroup" >
    insert into vwt_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerMobile != null" >
        customer_mobile,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerMobile != null" >
        #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cmcc.mobile.maintain.entity.VwtGroup" >
    update vwt_group
    <set >
      <if test="customerMobile != null" >
        customer_mobile = #{customerMobile,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cmcc.mobile.maintain.entity.VwtGroup" >
    update vwt_group
    set customer_mobile = #{customerMobile,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from vwt_group
  </select>
</mapper>